<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='{% static "/css/class.css" %}'>
<style>
    .para{
        height: 35vh;
    }
</style>
</head>
<body>
    <nav class="navbar">
        <img src="images/logo.png" class="brand-logo" alt="" />
        <ul class="nav-links">
            <li class="nav-items"><a href="{% url 'main1'%}">Home</a> </li>
            <!--li class="nav-items"><a href="{% url 'user_records'%}">Record</a> </li-->
        </ul>
        <div class ="right-container">
            <a href="{% url 'logout'%}" class="logout"><button type="submit" class="sub-btn">Logout</button></a>
        </div>
    </nav>
    <h1><u>Skin Cancer Type</u></h1>
    <div class="image-container">
    <center><img src="{{ image_url }}"class="centered-image"  alt="Predicted Image"></center>
    </div>
    <div class="head">
        <h2><i>Actinic Keratosis (AKIEC) </i></h2>
    </div>
    <div class="para">
        <p class="para">
                It is also known as Intraepithelial Carcinoma. 
                It is a type of skin lesion that can potentially become cancerous if not treated. 
                Actinic keratosis is considered a precancerous condition, and intraepithelial 
                carcinoma refers to cancer that is still confined within the epithelial layer of skin.
                <br><br>
                It's important to note that any type of skin lesion or condition should be evaluated 
                and diagnosed by a qualified medical professional. If you suspect you have any skin concerns, 
                it's recommended to consult a dermatologist for proper diagnosis and treatment.
        </p>
    </div>
    <div class="intro">
        <center>
        <h3><i>Thank You !!!</i></h3>
        <div class="container">
            <a href="{% url 'main1' %}" class="login">Return to Home</a>
            <!--a href="{% url 'register' %}" class="login"><button type="submit" id="btn">Signup</button></a-->
        </div></center>
    </div>
</body>
</html>