<!DOCTYPE html>
<html lang="en">
    <head>
        <!----{% load static %}--->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-compatible"content="IE=edge">
        <meta name="viewport" content="width-divice-width, initial-scale=1.0">
        <title>Skin Cancer</title>
       
        <!---<link rel="stylesheet" href='{% static "style1.css" %}'>-->
        <link rel="stylesheet" href="/static/css/style1.css">
    </head>
    <body>
        <nav class="navbar">        
            <ul class="nav-links">
                <li class="nav-items"><a href="#">Home Page</a> </li>
                <li class="nav-items"><a href="#">Instructions</a> </li>
                <li class="nav-items"><a href="#">Prediction</a> </li>
                <li class="nav-items"><a href="#">Types of cancer</a> </li>
            </ul>
            <div class ="right-container">
                <input type ="text" class="search-box" placeholder="search">
                <button class="sub-btn"></button>
                <a href="#" class="login-link">Logout</a>         
            </div>
        </nav>
        
        <div class="caraousel-container">
            <div class="caraousel">
                <div class="slide">
                        <div class="slide-content">
                            <h1 class="title">Welcome</h1>
                            <p class="movie-des"></p>

                        </div>
                        <img src="images/slider 1.png" alt="">
                </div>
            </div>
        </div>

    </body>
</html>