body{
    text-align: center;
}

.button{
    background-color:rgb(69, 166, 196);
    margin: 0;
    font-size: 18px;
    padding:14px, 20px;
    border-radius: 5px;

}

.image input[type="file"]::-webkit-file-upload-button{
    background: rgb(69, 166, 196);
    cursor: pointer;
    border-radius: 10px;


}